[Unit]
Description=Run Backup Timer

[Timer]
# Run backup once daily (24 hours)
OnCalendar=daily

# Run backup every hour
#OnCalendar=hourly

# Run backup every 6 hours
#OnCalendar=*-*-* 00,06,12,18:00:00

Unit=backup.service

[Install]
WantedBy=timers.target

